.App {
  text-align: center;
}

.App-home {
  height: 100vh;
  background-color: #585a5f;
  text-align: center;
  color: white;
  padding-top: 30px;
  font-size: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #585a5f;
  min-height: 100vh;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-page {
  display: flex;
  align-items: baseline;
  margin-top: 30px;

}
.chat-form {
  /* margin-left: 40px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-form_hr {
  width: 100vh;
  margin-bottom: 40px;
}

.chat-message {
  text-align: left;
  margin-bottom: 40px;
}

.text1 {
  color: #61dafb;
}

.text2 {
  border-bottom: 1px solid #61dafb;;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

/* .form__input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 5px;
  border: none;
  outline: none;
  color: antiquewhite;

} */

/* .form__input:focus {
  outline: 2px solid #61dafb;
} */
.form__button {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: none;
  background-color: #61dafb;
  margin-top: 40px;
}
.form__button:active {
  background-color: #1094b4;
}
.header-div {
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 30px;
}
.header-div a {
  margin-right: 20px;
}